.page {
  margin-top: 30px;
}
.form-inline {
  display: block;
  margin: 0 auto;
  max-width: 70%;
}
h1 {
  font-weight: 800;
  font-size: 30px;
  color: cadetblue;
  text-align: center;
}
ul {
  list-style-type: none;
}
.main {
  position: relative;
  top: 50px;

  font-weight: 800;
  font-size: 30px;
  color: cadetblue;
}
.card {
  position: relative;
  top: 60px;
  margin: 10px auto;
}
h4 {
  position: relative;
  top: 50px;
  text-align: center;
  font-weight: 400;
  font-size: 25px;
  color: rgb(27, 62, 63);
}
input {
  text-align: center;
}
.dedication {
  position: relative;
  top: 45px;
  display: block;
  margin: auto;
  text-align: center;
  font-weight: 700;
  color: purple;
  background-color: rgb(130, 195, 196);
  padding: 20px;
  max-width: 60%;
  border-radius: 15px;
  box-shadow: rgb(27, 62, 63), 10px;
}
.nik {
  max-width: 70%;
  height: 320px;
  position: relative;
  top: 60px;
  display: block;
  margin: auto;
}
.github {
  text-decoration: none;
}
.github:hover {
  text-decoration: underline;
}
.icon {
  width: 80px;
}
